div.intro__img {
    padding: 0 .5rem 0;
    margin: .5rem auto;
    max-width: 26rem;
}

div.intro {
    background-color: white;
    height: 30rem;
    text-align: center;
    margin: 0 auto;
    max-width: 30rem;

}

div.intro__sentence {
    line-height: 1.5;
    margin: 0 auto;
    padding: 0 0 .25rem;

}

div.intropara__2 {
    color:rgb(80, 80, 80);
}

p.intro {

    font-family: 'BandeinsSansVariableGX', 'Times New Roman';
    font-size: 1.3rem; /* Size 16*/
    font-weight: 600;
    line-height: 1.35;
    margin: .5rem;
    padding: .5rem ;

}


