

div.contactinfo__header{
  background-color:white;
  font-size: 1.5rem;
  padding: 0rem 0rem;
  max-width: 15rem;
  padding: 0rem .75rem;
}   

div.contactinfo__contact {
    border-bottom: .03rem solid #E7E5E5;
    font-size: .93rem;
    font-weight: 300 ;
    padding: 0 .75rem 2rem;
    max-width: 23rem;
    margin: 0 auto;
    
}

div.button__clickmail,div.button__clicklinkedin {
    background-color: white;
    border-radius: .5rem;
    box-shadow: 4px 3.5px 7px 2px #E7E5E5;
    font-size: 1.3rem;
    font-weight: 550;
    padding: 1rem;
    max-width: 15rem;
    margin: 0 auto;
    text-align: center;

}

